/* (A) WRAPPER */
#quizWrap {
  max-width: 600px;
  margin: 0 auto;
}
#quizQn {
  padding: 28px;
  background: #0f0f0f;
  color: rgb(240, 230, 230);
  font-size: 24px;
  border-radius: 10px;
}
#quizAns {
  margin: 10px 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
#quizAns input[type=radio] { display: none; }
#quizAns label {
  background: #e9cae9;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}
#quizAns label.correct {
  background: #1cc90c;
  border: 1px solid #132c07;
}
#quizAns label.wrong {
  background: #df1818;
  border: 1px solid #222020;
}
html, body {
  background: #8c8ee6;
  font-family: arial, sans-serif;
  text-align: center;
}
h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 190px;
  margin-bottom: 10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.reset{
  padding: 15px;
  margin-top: 30px;
  border: 2px solid #111111;
  margin-right: 1%;
}
audio{
  position: absolute; left: 30%; top: 5%;
  background: #faf6fa;
  width: 300px;
  padding: 1px;
  border: 5px solid #f7f3f3;
  border-radius: 1px;
  float: left;
  margin-left: 0.5em;
  -moz-box-shadow: rgba(245, 238, 238, 0.5) 3px 3px 5px;
  -webkit-box-shadow: rgba(250, 243, 243, 0.5) 3px 3px 5px;
  box-shadow: rgba(250, 249, 249, 0.5) 3px 3px 5px;
}
button{
  position: absolute; left: 45%; top: 5%; 
  font-weight: 100;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  text-align: right;
  color:  #171718;
  background: #d4c8d2;
  width: 320px;
  height: 65px;
  border-radius: 1px;
  border: 7px solid rgb(229, 245, 243);
  float: left;
  margin-left: 0.5em;
  -moz-box-shadow: rgba(247, 242, 242, 0.5) 3px 3px 5px;
  -webkit-box-shadow: rgba(243, 239, 239, 0.5) 3px 3px 5px;
  box-shadow: rgba(243, 240, 240, 0.5) 3px 3px 5px;
  z-index: -1;
}
img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
}
.scroll{
font-family:'Comic Sans MS';
font-size: 24px;
line-height:35px;
color:#0a0a0a;
background-color:#f3f3f7;
position: absolute; top: 16%; right: 0%;
}